# Dependencies
node_modules/
venv/
__pycache__/

# Build output
.next/
out/
dist/

# Database files
*.db

# Environment variables
.env
.env.local
.env.production

# IDE
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store
